<!DOCTYPE html>

<html>
    <head>
        <link rel = "stylesheet" href = "../../public/css/styles.css">
    </head>
    <body>
        {{>header}}
        <div>know about me</div>        
        <img src="../../public/assets/IMG_5178.JPG">
        {{>footer}}
    </body>
</html>