<!DOCTYPE html>

<html>
    <head>
        <link rel = "stylesheet" type = "text/css" href = "../../public/css/styles.css">
    </head>
    <body>
        {{>header}}
        <div>contact us 9848218851</div>
        {{>footer}}
    </body>
</html>